<form
  class="country-form"
  autocomplete="off"
  [formGroup]="countryForm"
  (submit)="submitForm()"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" required />
    @if (name.invalid) {
    <mat-error>Name must be at least 3 characters long.</mat-error>
    }
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Number of Visits</mat-label>
    <input
      matInput
      placeholder="Number of Visits"
      formControlName="numberOfVisits"
      required
    />
    @if (numberOfVisits.invalid) {
    <mat-error>Please enter a number</mat-error>
    }
  </mat-form-field>
  <br />
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="countryForm.invalid"
  >
    Add Country
  </button>
</form>
<br />
<button mat-raised-button color="primary" [routerLink]="['/']">Home</button>
